if infoMessages.length
    ul
        each message in infoMessages
            li=message

if successMessages.length
    ul
        each message in successMessages
            li=message

if warnMessages.length
    ul
        each message in warnMessages
            li=message

if errorMessages.length
    ul
        each message in errorMessages
            li=message
