div.ui.transparent.inverted.fixed.main.menu
    div.container
        div.title.item
            | russ.pitre.io
        a.active.item(href="/")
            i.home.icon
            | Home
        a.item(href="/posts")
            | Posts
        a.item(href="/taskboard")
            | Taskboard
        a.item(href="/map")
            | Map
        a.item(href="/intellij")
            | IntelliJ
