extends ../layouts/default

block content

    main.layout

        aside.left

            div.clearfix
                span.site-name russ.pitre.io

            h1  Hi, I design and build things for the web.

            h3 I am passionate about my craft, have an eye for detail, a sense of urgency, all while focusing on client satisfaction.

            p I am Russ Pitre, a software craftsman located in beautiful Western Massachusetts. With a dozen or so years in the field, I have amassed a toolbox full of gadgets and gizmos enabling me to be the well-rounded software developer that I am today. Through experience, I bring versatility.  I can design and implement your next datastore, expose it with a well thought out API, and then consume it with a beautiful and secure user interface. You can be confident and rest easy with me on your team.

            div.social-links

                a.noline(href="https://github.com/russpitre", title="Github Profile", target="_new")
                    i(class="icon-github-sign icon-2x")

                a.noline(href="http://www.linkedin.com/in/russellpitre", title="Linkedin Profile", target="_new")
                    i(class="icon-linkedin-sign icon-2x")

                a.noline(href="https://twitter.com/russpitre", title="Twitter Profile", target="_new")
                    i(class="icon-twitter-sign icon-2x")

                a.noline(href="https://plus.google.com/114454297200161502736/about", title="Google Plus Profile", target="_new")
                    i(class="icon-google-plus-sign icon-2x")

