extends ../layouts/fullscreen

styles
    div#wrap > .container { width: 100%; }

block content
    ul
        li My Projects
            ul
                li NMED EER
                li NYDEC Pesticides
                li NYDEC eFind



block tail-appended
    script
